@import './vars';
@import '../../node_modules/include-media/dist/_include-media';

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}

@mixin title {
  font-size: 32px;
  font-weight: bold;
  color: $titleTextColor;
}

@mixin head {
  font-size: 16px;
  font-weight: lighter;
}

@mixin header {
  width: 100%;
  min-height: 10vh;
  left: 0;
  right: 0;
  background-color: $mainColor;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba($black, 0.5);
  justify-items: center;
}

@mixin footer {
  width: 100%;
  min-height: 10vh;
  background-color: $mainColorDark;
}

@mixin default-text {
  font-size: 14px;
  font-weight: 400;
  color: $black;
}

@mixin wrapper {
  border: $defaultBorder;
  border-style: $defaultBorderStyle;
  border-radius: $defaultBorderRadius;
  border-color: $black;
  margin-bottom: 10px;
  @include media($breakpoint) {
    width: 400px;
  }
}
