$white: #fff;
$black: #000;
$blue: #00c;
$red: #c00;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
$defaultBorder: 5px;
$defaultBorderStyle: groove;
$defaultBorderRadius: 10px;

$breakpoint: '<=900px';
